.StretchButton{
    width: 100px;
    height: 100px;
    transition: width 2s, height 0.5s;
}
.StretchButton:Hover{
    width: 500px;
    height: 500px;
}

.EscapeButton{
    width: 100px;
    height: 100px;
}

.EscapeButton:Hover{
    margin-left: 200px;
}

.PaddingButton{
    padding: 10px;
    text-align: center;
    transition: text-align 0.5s, padding 0.5s;
}

.PaddingButton:hover{
    padding-left: 30px;
    padding-right: 300px;
}

