@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Noto+Sans+Thai:wght@300&family=Nunito&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}
.music-content{
    margin-left: -40px;
}
.music-name{
    text-align: center;
    margin-left: 40px;
}

.lyrics{
    text-align: center;
}

.creator{
    text-align: center;
    margin-left: 40px;
    margin-top: -25px;
}

.watch{
    text-align: center;
    margin-left: 40px;
    margin-top: -25px;
}