# Compiled Lua files
*.luac

# Ignore any file or directory named "bin"
/bin/

# Ignore any file or directory named "obj"
/obj/

# Ignore any file or directory named "build"
/build/

# Ignore any file or directory named "vendor"
/vendor/

# Ignore any files generated during the build process
*.log
*.tmp
*.tmp.*

# Ignore any file or directory created by IDEs or text editors
.vscode/
.idea/
*.swp
*~
