@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap');
p{
    font-family: 'Montserrat', sans-serif;
}

.video-thumbnail{
    display: block;
}

.video-author{
    display: inline-block;
}

.video-stats{
    display: inline-block;
}